nav {
    text-align: center;
    color: #fff;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

nav a, nav a:visited {
    color: #fff;
    font-weight: normal;
}

nav ul, footer ul {
    padding: 0;
    display: inline;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 8px;
    padding-left: 8px;
}

.navbar {
    background-color: #0097A7;
    padding: 8px;
    position: relative;
}

@media screen and (max-width: 640px) {
    .navbar {
        padding-top: 32px;
    }
}

.logo {
    position: absolute;
    left: 8px;
    top: 8px;
}

.logo, .logo:visited {
    color: #fff;
}

.filter {
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.filter li {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
}

footer {
    font-size: .8em;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

a, a:visited {
    color: teal;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: turquoise !important;
}

html {
    width:100%;
    height: 100%;
    background-color: #eee;
}

body {
    background: transparent;
    margin: 0;
    padding: 0;
}

.head {
    background: #00B9D2;
    padding: 10px 20px 90px 20px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.head h1 {
    color: #fff;
    font-size: 2em;
    width: 90%;
    max-width: 900px;
    margin: auto;
    border-bottom: 1px solid;
}

.card {
    background: #fff;
    border-radius: 2px;
    width: 90%;
    max-width: 940px;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

.cite {
    width: 90%;
    max-width: 940px;
    margin: auto;
    position: relative;
}

body > div > .card, .cite {
    margin-top: -80px;
}

.card ~ .card, .cite ~ .cite, .card ~ .cite, .cite ~ .card {
    margin-top: 20px;
}

.cite .card {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
    margin-left: -20px;
}

.cite:hover .card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tooltip {
    background: #fff;
    padding: 20px 0 20px 0;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 1500px) {
    .tooltip {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@media not screen and (max-width: 1500px) {
    .tooltip {
        padding: 5px 10px 5px 10px;
        position: absolute;
        right: -280px;
        top: 50%;
        width: 220px;
    }

    .tooltip:before {
      color:#fff;
      border-right: 10px solid;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: '';
      position: absolute;
      left: -10px;
    }
}

table {
    margin: auto;
}

img {
    margin: auto;
    display: block;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}


.collection {
	border-radius:2px;
	overflow:hidden;
	position:relative
}

.collection .collection-item {
	background-color:#fff;
	line-height:1.5rem;
	padding:10px 20px;
	margin:0;
	border-bottom:1px solid #e0e0e0
}

.collection .collection-item:last-child {
	border-bottom:none
}

.collection a.collection-item {
	display:block;
	transition:.25s;
	color:#26a69a
}

.collection a.collection-item:not(.active):hover {
	background-color:#ddd
}
