.inline {
    list-style: none;
    text-align: center;
    display: inline;
    font-weight: bold;
}

.inline li {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
}

nav {
    padding-left: 15px;
}

footer {
    font-size: .8em;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

footer ul {
    padding: 0;
    display: inline;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 8px;
    padding-left: 8px;
}

html {
    width:100%;
    height: 100%;
    background-color: #eee;
}

body {
    background: transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.head {
    background: #00B9D2;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: -50px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

table {
    margin: auto;
}

.inline form {
    display: inline-block;
}

.off {
    width: 90%;
    max-width: 940px;
    margin: auto;
    margin-top: 10px;
    color: gray;
}

.card {
    width: 90%;
    max-width: 940px;
    margin: auto !important;
    margin-top: 20px !important;
}

.card-content > p:first-child > img:first-child {
    margin: auto;
    display: block;
    margin: -20px;
    width: calc( 100% + 40px);
    max-width: unset;
}

.btn, .btn-flat {
    padding: 0 !important;
}

a.btn, a.btn-flat, input.btn, input.btn-flat {
    padding: 0 2rem !important;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    padding: 0 2rem !important;
    height: 100% !important;
}

body > .collapsible, body > .collection {
    width: 90% !important;
    max-width:940px !important;
    margin:auto !important;
    margin-bottom:20px !important;
    margin-top: 20px !important;
}

.collapsible-body {
    padding: 2rem;
}

.collapsible-title span, .collection-header {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
    cursor: default;
}

.collapsible-title div {
    cursor: default;
}

.collection {
    margin: -20px;
}

.collection-item i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
    margin-top: -10px;
}

[type="checkbox"] + label {
    margin-right: 35px;
    line-height: unset !important;
}

img {
    margin: auto;
}

img.active {
    max-width: unset;
}

.tooltip {
    background: #fff;
    padding: 20px 0 20px 0;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 1500px) {
    .tooltip {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    footer {
        margin-bottom: 90px;
    }
}

@media not screen and (max-width: 1500px) {
    .tooltip {
        padding: 5px 10px 5px 10px;
        position: absolute;
        right: -280px;
        top: 50%;
        width: 220px;
    }

    .tooltip:before {
      color:#fff;
      border-right: 10px solid;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: '';
      position: absolute;
      left: -10px;
    }
}
