<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/markdown7.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
</head>

{% for c in site.projects %}
    {% if c.project == page.project %}
        {% assign project = c %}
    {% endif %}
{% endfor %}

<body>
    <div>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="head">
            <nav>
                <ul>
                    <li><a href="\">home</a></li>
                    <li><a href="\about">about</a></li>
                    <li><a href="\projects">projects</a></li>
                    <br />
                    <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                    {% for tab in project.tabs %}
                    {% for c in site.pages %}
                    {% if c.project == page.project %}
                    {% unless c.categories contains "project" %}
                    {% if c.page == "project" %}
                    {% if c.title == tab %}
                    <li><a href="{{ c.url }}">{{ c.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endunless %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </nav>
            <h1>{{ page.title }}</h1>
        </div>

        {% for c in site.cite %}
            {% if c.author == page.title %}
                <div class="cite">
                    <div class="card">
                        <h2>{{ c.title }}</h2>
                        {{ c.content | markdownify }}
                        <div class="tooltip">
                            {{ c.title }} by {{ c.author }}<br />
                            <a href="{{ c.url }}">permalink</a><span style="padding-right: 20px;"></span><a href="{{ c.source }}">source</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <footer>
            <hr/>
            <ul>
                <li><a href="https://www.facebook.com/groups/680277955393461">facebook</a></li>
                <li><a href="https://drive.google.com/folderview?id=0BwqA-2Wy1dAldHFiZDM1aDFMZWs&usp=sharing">google drive</a></li>
                <li><a href="mailto:preproductioncollaborativeutd@gmail.com">email</a></li>
                <li><a href="feed.xml">feed</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/project.js" type="text/javascript"></script>
</body>

</html>
