<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/markdown7.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
</head>

<body>
    <h1>{{ page.title }}</h1>

    <nav>
        <ul>
            <li><a href="\">home</a></li>
            <li><a href="\about">about</a></li>
            <li><a href="\projects">projects</a></li>
        </ul>
    </nav>

    {{ content }}

    <footer>
        <hr/>
        <ul>
            <li><a href="https://www.facebook.com/groups/680277955393461">facebook</a></li>
            <li><a href="https://drive.google.com/folderview?id=0BwqA-2Wy1dAldHFiZDM1aDFMZWs&usp=sharing">google drive</a></li>
            <li><a href="mailto:preproductioncollaborativeutd@gmail.com">email</a></li>
            <li><a href="feed.xml">feed</a></li>
        </ul>
    </footer>
</body>

</html>
