<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
</head>

{% for c in site.projects %}
    {% if c.project == page.project %}
        {% assign project = c %}
    {% endif %}
{% endfor %}

<body>
    <header>
        {% for tab in project.tabs %}
            {% assign pages = site.pages | where: "project", page.project | where: "page", "project" | where: "title", tab %}
            {% for c in pages %}
                {% if c.pages %}
                    <ul id="dropdown_{{ c.title | slugify }}" class="dropdown-content">
                        {% for card in c.pages %}
                            <li><a href="{{ c.url }}{{ card | replace: "'",'' | slugify }}">{{ card }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id="dropdown_mobile_{{ c.title | slugify }}" class="dropdown-content">
                        {% for card in c.pages %}
                            <li><a href="{{ c.url }}{{ card | replace: "'",'' | slugify }}">{{ card }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <nav class="teal nav-extended" style="height: 100%">
            <div class="nav-wrapper" style="padding: 0 1rem;">
                <div class="col s12" style="display:inline;">
                    <a href="\" class="breadcrumb">PreProduction Collaborative</a>
                    <a href="{{ project.url }}" class="breadcrumb">{{ project.title }}</a>
                    {% unless page.creative_lead %}
                    <a href="{{ page.url }}" class="breadcrumb">{{ page.title }}</a>
                    {% endunless %}
                </div>
                <a href="#" data-activates="mobile-down" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for tab in project.tabs %}
                        {% assign pages = site.pages | where: "project", page.project | where: "page", "project" | where: "title", tab %}
                        {% for c in pages %}
                            {% if c.pages %}
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown_{{ c.title | slugify }}">{{ c.title }}<i class="material-icons right">arrow_drop_down</i></a></li>
                            {% else %}
                                <li class="tab"><a href="{{ c.url }}">{{ c.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <li class="tab"><a href="{{ project.url }}assets/">Assets</a></li>
                </ul>
                <ul id="mobile-down" class="side-nav">
                    {% for tab in project.tabs %}
                        {% assign pages = site.pages | where: "project", page.project | where: "page", "project" | where: "title", tab %}
                        {% for c in pages %}
                            {% if c.pages %}
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown_mobile_{{ c.title | slugify }}">{{ c.title }}<i class="material-icons right" style="height: inherit">arrow_drop_down</i></a></li>
                            {% else %}
                                <li class="tab"><a href="{{ c.url }}">{{ c.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <li class="tab"><a href="{{ project.url }}assets/">Assets</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container"><div class="row" style="margin-top: 2rem;">

        <div class="col s12 m12 l10">
            {% if page.cards %}
                {% capture images %}{{ site.cite | where: "page", page.title | where: "project", page.project | where: "media", "Image" | size }}{% endcapture %}
                {% if images != "0" %}
                    <div class="row images section scrollspy">
                        {% for card in page.cards %}
                            {% assign carousel = site.cite | where: "page", page.title | where: "title", card | where: "project", page.project | where: "media", "Image" %}
                            {% for c in carousel %}
                                <div class="col s12 m6 l4" style="position: relative;">
                                    <div class="chip" style="position: absolute;top: 8px;right: 16px;z-index: 1;">{{ c.author | join: ", " }}</div>
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="https://docs.google.com/uc?id={{ c.drive_id }}">
                                        </div>
                                        <div class="card-action">
                                            <a href="{{ c.url }}">{{ c.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for card in page.cards %}
                    {% assign cites = site.cite | where: "page", page.title | where: "title", card | where: "project", page.project %}
                    {% for c in cites %}
                        {% if c.media == "Image" %}
                            {% continue %}
                        {% endif %}
                        <div id="{{ card }}" class="card scrollspy">
                            <div class="card-content">
                                <span class="card-title">
                                    <a href="{{ c.url }}">{{ c.title }}</a>
                                    {% for contributor in c.author %}
                                        <div class="chip secondary-content">{{ contributor }}</div>
                                    {% endfor %}
                                </span>
                                {{ c.content | markdownify }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {{ content }}
            {% endif %}

            <footer>
                <ul>
                    <li><a href="https://www.facebook.com/groups/680277955393461">facebook</a></li>
                    <li><a href="https://drive.google.com/folderview?id=0BwqA-2Wy1dAldHFiZDM1aDFMZWs&usp=sharing">google drive</a></li>
                    <li><a href="mailto:preproductioncollaborativeutd@gmail.com">email</a></li>
                    <li><a href="/feed.xml">feed</a></li>
                </ul>
            </footer>
        </div>

        <div class="col hide-on-med-and-down l2">
            <div class="toc-wrapper">
              <ul class="section table-of-contents">
                {% if images and images != "0" %}
                    <li><a href="#carousel">Images</a></li>
                {% endif %}
                {% for card in page.cards %}
                    {% assign cites = site.cite | where: "page", page.title | where: "title", card | where: "project", page.project %}
                    {% for c in cites %}
                        {% if c.media == "Image" %}
                            {% break %}
                        {% endif %}
                        <li><a href="#{{ card }}">{{ card }}</a></li>
                        {% break %}
                    {% endfor %}
                {% endfor %}
              </ul>
            </div>
        </div>

    </div></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/js/init.js" type="text/javascript"></script>
</body>

</html>
